*.iml
.gradle
.kotlin/
.operit/
.backup/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build/
/captures
.externalNativeBuild
.cxx
local.properties
DL/
plugins_out/
tools/build/
tools/build_eg/
tools/jar_build/
tools/jar_eg/
tools/plugin_dex/
tools/plugins_out_tmp/
tools/*.class
tools/*.dex
!tools/Plugin.class
!tools/ShizukuProxy.class
